.alpha {
    background-color: #FF98FC;
    font-family: Verdana,"DejaVu Sans", sans-serif;
}

#apple {
    color: #2738f5;
    font-size: 36px;
}

#banana {
    font-size: 24px;
}

#cat {
    background-color: #68F77E;
    font-size: 24px;
    font-weight: bold;
}